<!doctype html>
<html lang="en">
  <head data-service="{{ service }}" data-version="{{ version }}">
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% block title %}{% end block %}xcvb.xyz</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="{{ static_url('script/env.js') }}"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
  </head>
  <header>
    <h1>xcvb.xyz</h1>
  </header>
  <main>{% block main %}{% end block %}</main>
</html>
