<!doctype html>
<html lang="en">
  <head data-service="{{ service }}" data-version="{{ version }}">
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% block title %}{% end block %}IPv6 Wall of Shame</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="{{ static_url('script/env.js') }}"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
  </head>
  <header>
    <h1><a href="/">IPv6 Wall of Shame</a></h1>
  </header>
  <main>{% block main %}
    <h2>{{ "{:.1%}".format(len([i for i in hosts if i["aaaa"]]) / len(hosts)) }} of the top {{ len(hosts) }} websites support IPv6</h2>
    <nav>
      <li><a target=_blank href="https://twitter.com/intent/tweet?url=https://ipv6wallofshame.com/{{ 'fail' if request.path.endswith('/fail') else '' }}&text={{ "{:.1f}".format((len([i for i in hosts if i["aaaa"]]) / len(hosts)) * 100) }}%25+of+the+top+{{ len(hosts) }}+websites+support+%23IPv6;"><i class="fa fa-twitter"></i> Tweet this</a></li>
    </nav>
    <ul class="wall">
      {% for i in hosts %}
      {% if i["aaaa"] %}
      {% if not request.path.endswith("/fail") %}
      <li class="pass">
        {{ i["host"].lower() }}
      </li>
      {% end if %}
      {% else %}
      <li class="fail">
        {{ i["host"].lower() }}
      </li>
      {% end if %}
      {% end for %}
    </ul>
    <section>
      <nav>
        {% if not request.path.endswith("/fail") %}
        <li><a href="/fail">Show fails only</a></li>
        {% else %}
        <li><a href="/">Show all</a></li>
        {% end if %}
      </nav>
    </section>
    <section>
      <p>The websites shown in red do not provide an AAAA record.</p>
    </section>
    <section>
      <aside>This website was made by <a target=_blank href="https://palazzo.link/">Stefano Palazzo</a>, Copyright 2016. The list of website was retrieved from <a target=_blank href="https://en.wikipedia.org/wiki/List_of_most_popular_websites">"List of most popular websites."</a> Wikipedia: The Free Encyclopedia. Wikimedia Foundation, Inc. 10 September 2016. Web. 10 Sep. 2016, under the terms of the <a target=_blank href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a>; additional terms may apply. The content is updated periodically; allthough I take care to ensure the correctness of the information published here, no warranty can be accepted regarding correctness, currentness, completeness, or reliability of the content.<br>
        If you have discovered an error, please email <a href="mailto:st%65fan%6F.p%61lazzo@gmail.%63om">stefano.palazzo@gmail.com</a>.</aside>
    </section>
    {% end block %}</main>
  {% if config["google-analytics"].get("tracking-id") %}
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
   ga('create', '{{ config["google-analytics"]["tracking-id"] }}', 'auto');
   ga('send', 'pageview');
  </script>
  {% end if %}
</html>
