body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin: 24px 28px;
}
h1, h2, h3, h4, h5, h6, pre, blockquote {
    margin: 16px 0;
}
pre, tt, code, kbd, samp {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
}
header {
    text-align: center;
}
header h1 {
    font-size: 28pt;
}
header h1 a:link, header h1 a:visited {
    color: inherit;
    text-decoration: inherit;
}
main {
    text-align: center;
}
main a:link, main a:visited {
    color: inherit;
}
main p {
    max-width: 480pt;
    margin: 0 auto 6pt auto;
}
main section {
    max-width: 480pt;
    margin: 0 auto 24pt auto;
}
main ul.wall {
    list-style: none;
    padding: 0;
    margin: 24pt auto 36pt auto;
    width: 80%;
    max-width: 250pt;
}
main ul.wall li {
    background: #ccc;
    text-align: center;
    padding: 8pt 0;
    margin: 0;
}
main ul.wall li.pass {
    background: #4c4;
}
main ul.wall li.glue {
    background: #cc4;
}
main ul.wall li.fail {
    background: #c44;
}
main ul.wall sup {
    text-decoration: none;
    margin-right: -0.75em;
}
main nav {
    list-style: none;
    margin-bottom: 18pt;
}
main nav li a:link, main nav li a:visited {
    text-decoration: inherit;
    font-weight: bold;
    display: inline-block;
    margin: 6pt 0;
}
main nav li a i.fa {
    margin-right: 4pt;
    margin-left: -8pt;
}
main aside {
    color: #888;
    font-size: smaller;
    max-width: 420pt;
    margin: 48pt auto 0 auto;
    text-align: justify;
}
footer {
    color: #888;
    font-size: smaller;
    max-width: 500pt;
    margin: 24pt auto 24pt auto;
}
footer nav {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
footer nav li {
    display: inline-block;
}
footer nav li:before {
    content: '\2043';
    display: inline-block;
    margin: 0 6pt 0 4pt;
}
footer nav li:first-child:before {
    content: '';
}
footer nav li a:link, footer nav li a:visited {
    color: inherit;
}
